option_settings:
    aws:elasticbeanstalk:application:environment:
        DATABASE_URI: postgresql://postgres:postgres@my-blacklist-db.cy9comua4vhw.us-east-1.rds.amazonaws.com:5432/blacklist_db
        FLASK_DEBUG: True
        DB_HOST: my-blacklist-db.cy9comua4vhw.us-east-1.rds.amazonaws.com
        DB_NAME: blacklist_db
        DB_PASS: postgres
        DB_PORT: 5432
        DB_USER: postgres
        JWT_SECRET_KEY: clave-secreta
        PYTHONPATH: /var/app/venv/staging-LQM1lest/bin
